altair==5.5.0 ; python_version >= "3.12"
attrs==25.3.0 ; python_version >= "3.12"
blinker==1.9.0 ; python_version >= "3.12"
cachetools==5.5.2 ; python_version >= "3.12"
certifi==2025.4.26 ; python_version >= "3.12"
charset-normalizer==3.4.2 ; python_version >= "3.12"
click==8.2.1 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
contourpy==1.3.2 ; python_version >= "3.12"
cycler==0.12.1 ; python_version >= "3.12"
dotenv==0.9.9 ; python_version >= "3.12"
fonttools==4.58.2 ; python_version >= "3.12"
gitdb==4.0.12 ; python_version >= "3.12"
gitpython==3.1.44 ; python_version >= "3.12"
google-auth-oauthlib==1.2.2 ; python_version >= "3.12"
google-auth==2.40.3 ; python_version >= "3.12"
gspread==6.2.1 ; python_version >= "3.12"
httplib2==0.22.0 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
jinja2==3.1.6 ; python_version >= "3.12"
jsonschema-specifications==2025.4.1 ; python_version >= "3.12"
jsonschema==4.24.0 ; python_version >= "3.12"
kiwisolver==1.4.8 ; python_version >= "3.12"
markupsafe==3.0.2 ; python_version >= "3.12"
matplotlib==3.10.3 ; python_version >= "3.12"
narwhals==1.42.0 ; python_version >= "3.12"
numpy==2.3.0 ; python_version >= "3.12"
oauth2client==4.1.3 ; python_version >= "3.12"
oauthlib==3.2.2 ; python_version >= "3.12"
packaging==24.2 ; python_version >= "3.12"
pandas==2.3.0 ; python_version >= "3.12"
pillow==11.2.1 ; python_version >= "3.12"
protobuf==6.31.1 ; python_version >= "3.12"
pyarrow==20.0.0 ; python_version >= "3.12"
pyasn1-modules==0.4.2 ; python_version >= "3.12"
pyasn1==0.6.1 ; python_version >= "3.12"
pydeck==0.9.1 ; python_version >= "3.12"
pyparsing==3.2.3 ; python_version >= "3.12"
pytelegrambotapi==4.27.0 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-dotenv==1.1.0 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
referencing==0.36.2 ; python_version >= "3.12"
requests-oauthlib==2.0.0 ; python_version >= "3.12"
requests==2.32.4 ; python_version >= "3.12"
rpds-py==0.25.1 ; python_version >= "3.12"
rsa==4.2 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
smmap==5.0.2 ; python_version >= "3.12"
streamlit==1.45.1 ; python_version >= "3.12"
tenacity==9.1.2 ; python_version >= "3.12"
toml==0.10.2 ; python_version >= "3.12"
tornado==6.5.1 ; python_version >= "3.12"
typing-extensions==4.14.0 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
urllib3==2.4.0 ; python_version >= "3.12"
watchdog==6.0.0 ; python_version >= "3.12" and platform_system != "Darwin"
